<form method="get" th:action="${actionUrl}" th:fragment="filter(actionUrl, condition, sort)" class="row g-2 mb-4">
    <div class="col-md-4">
        <input type="text" name="keyword" th:value="${condition.keyword}"
               class="form-control" placeholder="본문 + 내용">
    </div>
    <div class="col-md-2">
        <select class="form-select" name="tag">
            <option th:value="null" th:selected="${condition.tag == null}">전체</option>
            <option th:each="tag : ${T(java.util.List).of('#조용한','#고요한','#집중되는','#공부방','#추천','#비추천','#시끄러운','#정신없는')}"
                    th:value="${tag}" th:text="${tag}" th:selected="${condition.tag == tag}">
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-select" name="isSolved">
            <option th:value="null" th:selected="${condition.isSolved == null}">전체</option>
            <option th:value="false" th:selected="${condition.isSolved == false}">답변 대기</option>
            <option th:value="true" th:selected="${condition.isSolved == true}">완료</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-select" name="sort">
            <option value="createdAt" th:selected="${sort == 'createdAt'}">최신순</option>
            <option value="like" th:selected="${sort == 'like'}">좋아요순</option>
            <option value="dislike" th:selected="${sort == 'dislike'}">싫어요순</option>
        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-secondary w-100" type="submit">검색</button>
    </div>
</form>