<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>머물곳</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<script th:inline="javascript">
    const memberId = [[${currentUserId}]];
</script>
<div th:replace="~{fragments/navbar :: navbar-fragment}"></div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h2 class="d-inline me-3">마이페이지</h2>
            <a href="/posts" class="btn btn-success">게시글로 보기</a>
            <a href="/map" class="btn btn-success">지도로 보기</a>
            <a href="/mypage/posts" class="btn btn-warning">✍ 내가 쓴 글</a>
        </div>
        <a href="/posts/write" class="btn btn-primary">글쓰기</a>
    </div>

    <h4>👍 좋아요 누른 글</h4>

    <div th:replace="~{fragments/filter :: filter('/mypage/likes', ${condition}, ${sort})}"></div>

    <div th:if="${likedPosts.isEmpty()}">
        <p class="text-center mt-5">✍️ 작성한 글이 없습니다.</p>
    </div>

    <div th:if="${!likedPosts.isEmpty()}">
        <div th:replace="~{fragments/mypage_table :: mypage_table(${likedPosts})}"></div>

        <div th:replace="fragments/pagination :: pagination(${likedPosts}, '/mypage/likes', ${condition}, ${sort})"></div>
</div>
</div>
<script th:src="@{/js/notification.js}"></script>
</body>
</html>